In [1]:
#Print the traditional hello world
print('Hello, world!')

Hello, world!

In [2]:
#Type of 12.0
type(12.0)

float

In [3]:
#Converting from one object type to a different object type
type(2)

int

In [4]:
#Convert 2 into a float
float(2)

2.0

In [5]:
#Convert 2 into a float and check its type
type(float(2))

float

In [6]:
#Casting can result in a loss of information e.g. decimal information from cast a float into an int 
int(1.1)

1

In [7]:
#You can obtain the value of a string if it contains a number within it
int('1')

1

In [8]:
#Convert a string into a float
float('2.4')

2.4

In [9]:
#Converting an interger into a string
str(1)

'1'

In [10]:
#Converting a float into a string
str(1.2)

'1.2'

In [13]:
#Booleans can be converted into integers. True has a value of 1  

int(True)

1

In [14]:
#False a value of 0.
int(False)

0

In [15]:
#Convert 1 into bool
bool(1)

True

In [16]:
#Data type of the result of 6/2
type(6/2)

float

In [17]:
#Type of 6//2
type(6//2)

int

In [18]:
#Write an expression that calculates how many hours there in 160 minutes 
160/60

2.6666666666666665

In [19]:
#You can store values in variables for use later on
x = 50+69+71+18

In [20]:
#Print the value of x
print(x)

208

In [22]:
#Operations can be performed on x 
y = x /60
y

3.466666666666667

In [23]:
#Variables can be overwritten
x = x /60
x

3.466666666666667

In [24]:
#More expression examples with variables
x = 3+2*2
x

7

In [26]:
y = (3+2)*2
y

10

In [27]:
z = x + y
z

17